:root {
    --primary-custom: #BAA898;    
    --accent-custom: #735751;
    --ievadisana:#7C6A66;
    --virsraksti:#3A1803;
    --body-fons:#C7B9AC;
    --pogas:#68574D;
    --sarkans:#784249;
    --bg-dark: #F8F9FA;
    --card-body:#E3DCD5;
    --hoover:#9E8589;
}

/* Galvenās pogas krāsa */
.btn-primary {
    background-color: var(--primary-custom) !important;
    border-color: var(--primary-custom) !important;
}

/* Navigācijas joslas fons (ja HTML izmanto class="navbar bg-primary") */
.navbar.bg-primary {
    background-color: var(--primary-custom) !important;
}
body {
  background-color: var(--body-fons) !important;
}
nav,tr {
  background-color: var(--card-body) !important;
}
.mytable {
  --bs-table-bg: var(--card-body) !important;
}
hr {
  color: var(--hoover) !important;
  opacity:5;
}
th {
  background-color: var(--accent-custom) !important;
}
tr:hover {--bs-table-bg: var(--hoover) !important;}
input {
  background-color: var(--ievadisana) !important;
  border-color: var(--ievadisana) !important;
}
.book-status-bar, --bs-table-bg {
  background-color: var(--card-body) !important;
}

.btn-primary {
    font-family: 'Raleway', sans-serif;
    color:var(--primary-custom) !important;
    background-color: var(--pogas) !important;
    border-color: var(--pogas) !important;
}
.card-body {
  background-color: var(--card-body) !important;
}

td,nav,label,p {
    font-family: 'Raleway', sans-serif; 
    color:var(--accent-custom) !important;
}

h2, h3 {
    font-family: 'Quicksand', monospace; 
    color:var(--accent-custom) !important;   
}

footer {
    font-family: 'Poppins', sans-serif; 
    color:var(--accent-custom) !important;
}
h1,a {
    font-family: 'Poppins', sans-serif; 
    color:var(--virsraksti) !important;
}
 {
    font-family: 'Poppins', sans-serif; 
    color:var(--sarkans) !important;
}

th,input{
    font-family: 'Raleway', sans-serif; 
    color:var(--primary-custom) !important;
}
.placeholder{
    font-family: 'Raleway', sans-serif; 
    color:var(--primary-custom) !important;
}
::placeholder {
  font-family: 'Raleway', sans-serif; 
    color:var(--primary-custom) !important;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  font-family: 'Raleway', sans-serif; 
    color:var(--primary-custom) !important;
}
