:root {
    --primary-custom: #735751;    
    --accent-custom: #2E2836;    
    --bg-dark: #F8F9FA;          /* Gaišais fons */
}

/* Galvenās pogas krāsa */
.btn-primary {
    background-color: var(--primary-custom) !important;
    border-color: var(--primary-custom) !important;
}

/* Navigācijas joslas fons (ja HTML izmanto class="navbar bg-primary") */
.navbar.bg-primary {
    background-color: var(--primary-custom) !important;
}
body {
  background-color: var(--primary-custom) !important;
}
footer {
  background-color: accent-custom;
}

th,td,nav,label,p,button {
    font-family: 'Raleway', sans-serif; 
    font-color:#2E2836;
}

h2, h3 {
    font-family: 'Quicksand', monospace; 
    
}

h1,footer,input {
    font-family: 'Poppins', sans-serif; 

}