{% extends "baze.html" %}
{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
       <h2>Pievieno izlasīto grāmatu</h2>
       <h3>Sveiki, {{vards}}!</h3>
   </div>
</div>

<div class="row">
    <div class="col-6 mx-auto">
        <form method="POST" action="/pievienot">
            <label for="nosaukums" class="form-label">Nosaukums:</label>
                <input type="text" class="form-control" id="nosaukums" name="nosaukums" placeholder="Grāmatas nosaukums" required><br>
            <label for="autors" class="form-label">Autors:</label>   
                <input type="text" class="form-control" id="autors" name="autors" placeholder="Vārds Uzvārds" required><br>
            <label for="lpp" class="form-label">Lapu skaits:</label>
                <input class="form-control" type="number" name="lpp" placeholder="000" required><br>
            <label for="saku" class="form-label">Kad sāki lasīt:</label>
                <input class="form-control" type="text" name="saku" placeholder="dd/mm/gg"><br>
            <label for="beidzu" class="form-label">Kad beidzi lasīt:</label>
                <input class="form-control" type="text" name="beidzu" placeholder="dd/mm/gg"><br>
            <label for="vertejums" class="form-label">Vērtējums:</label>
                <input class="form-control" type="number" name="vertejums" placeholder="1-5" min="0" max="5"required><br>
            <button type="submit" class="btn btn-primary w-100">Pievienot</button>
        </form>
    </div>
</div>





{% endblock %}