{% extends "baze.html" %}
{% block content %}
<div class = "container">
<div class="row">
	<div class="col-6 mx-auto">
<h2>Laipni lūgts tavā izlasīto grāmatu bibliotēkā!</h2>
<hr>
<p>Šī ir vieta, kur vari pievienot grāmatas, ko esi izlasījis, saglabāt savus iespaidus un izsekot savam lasīšanas ceļojumam. veido savu personīgo kolekciju, atgriezies pie jau izlasītā un iedvesmot sevi nākamajām grāmatām.</p>
</div>

<div class = "row col-6">
<img class="img-fluid mx-auto d-block my-4" src="{{ url_for('static', filename='img/books.jpg') }}" >
</div>
</div>

{% endblock %}